@using Blog.Models;
@using System.Globalization;


@helper Render(Post post, System.Web.Mvc.HtmlHelper html, bool IsAdmin, bool showComments)
{
    PersianCalendar pc = new PersianCalendar();
    DateTime thisDate = DateTime.Now;
    PMonthString pdc = new PMonthString();
    <div class="postTitle"> 
        <a href="@Href("~/Posts/Details/" + post.ID)"><span class="glyphicon glyphicon-pencil"></span> @post.Title</a>
    </div>
    <div class="postContainer">
        <div class="postTabs">
            <div class="dateTab">
                <div class="month">
                    @pdc.pdc(pc.GetMonth(post.DateTime))
                </div>
                <div class="day">
                    @pc.GetDayOfMonth(post.DateTime)
                </div>
                @if(IsAdmin)
                    {  
                    <div class="tabOpener" data-toggle="tooltip" data-placement="left" title="برای مشاهده اطلاعات این پست کلیک کنید">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div> 
                        <div class="editTab">
                            <div>ساعت:</div>
                            <div>@post.DateTime.ToString("HH:mm:ss")</div>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            <div> اصلاح در:</div>
                            <div>@pc.GetYear(post.DateModified)/@pc.GetMonth(post.DateModified)/@pc.GetDayOfMonth(post.DateModified)</div>
                            <div>@post.DateModified.ToString("HH:mm:ss")</div>
                        </div>
                    }
            </div>
            
            <div class="commentsTab">
                <a href="@Href("~/Posts/Details/" + post.ID + "#comments")">
                    <div class="commentsIcon">.</div> @post.Comments.Count()
                </a>
            </div>
        </div>
        <div class="postContent">
            <div class="postPanel-2">
                <div style="font-weight:bold;">نویسنده : @post.Author 
                    <a class="shareButton">
                        <span class="fa fa-share-square fa-lg"></span>
                    </a>
                    <div style="float:left;">
                        <a href="#" class="shareIcons"><span class="fa fa-print"></span></a>
                        <a href="#" class="shareIcons"><span class="fa fa-envelope-o"></span></a>
                        <a href="#" class="shareIcons"><span class="fa fa-twitter-square"></span></a>
                        <a href="#" class="shareIcons"><span class="fa fa-facebook-square"></span></a>
                        <a href="#" class="shareIcons"><span class="fa fa-linkedin-square"></span></a>
                        <a href="#" class="shareIcons"><span class="fa fa-file-pdf-o"></span></a>
                    </div>
                </div>
            </div>
            <div class="postBody">@html.Raw(post.Body)</div>
            <div class="postPanel">
                <span class="glyphicon glyphicon-tags"></span><span style="padding:5px; font-weight:bold;"> تگ ها :</span>
                <br />
                <div class="tagList">
                    @foreach(Tag tag in post.Tags)
                    {
                        <span class="tag"><a href="@Href("~/Posts/Tags/" + tag.Name)">@tag.Name</a></span>   
                    }
                </div>
            </div>
        </div>
        
        @if(IsAdmin)
        {
            <div class="PostControlPanel">
                <a class="btn btn-default delete-btn" href="@Href("~/Posts/Delete/" + post.ID)">حذف پست <span class="glyphicon glyphicon-trash"></span></a>
                <a class="btn btn-default edit-btn" href="@Href("~/Posts/EditPost/" + post.ID)">ویرایش پست <span class="glyphicon glyphicon-edit"></span></a>
            </div>
        }
    </div>
    <br />
}