@using Blog.Models;

<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap-rtl.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Blog.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css">
    <!-- Scripts -->
    <script src="@Url.Content("~/Scripts/jQuery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Other.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-rtl.js")" type="text/javascript"></script>
    @RenderSection("ExtraHeaders", false)
</head>
<body>
    @*<a id="forkme" href="https://github.com/babakmbm/BabakBlog" target="_blank"></a>*@
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="navbar-header">
				<div class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="glyphicon glyphicon-cog"></span>
				</div>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li><a href="@Href("~/")"><span class="glyphicon glyphicon-home"></span> خانه</a></li>
					<li><a href="@Href("~/ContactMe/CreateContact")"><span class="glyphicon glyphicon-earphone"></span> تماس با من</a> </li>
					<li><a href="@Href("~/About")"><span class="glyphicon glyphicon-user"></span> درباره من</a></li>
                        @if (ViewBag.IsAdmin ?? false)
                            {
                            <li>
                                <a href="@Href("~/ContactMe/ContactIndex")">پیام @{Html.RenderAction("ContactCount", "ContactMe");}</a>
                            </li>
                            <li>
                                <a href="@Href("~/Posts/CreatePost")"><span class="glyphicon glyphicon-pencil"></span> پست جدید</a>
                            </li>
                            <li>
                                <a href="@Href("~/Accounts/Logout")"><span class="glyphicon glyphicon-remove"></span> خروج</a>
                            </li>
                            }
                            else
                            {
                            <li>
                               <a href="@Href("~/Accounts/Login")"><span class="glyphicon glyphicon-open"></span> ورود</a>
                            </li>    
                            }
				</ul>
                <form action="@Href("~/Posts/Search")" class="navbar-form navbar-left" id="searchBox" role="search">
					<div class="form-group">
						<input type="text" name="sq" class="form-control" placeholder="جستجو">
					</div>
					<div id="SearchIcon"><span class="glyphicon glyphicon-search"></span></div>
				</form>
			</nav>
	</header>
    <div id="headerLogo">
        <a href="@Href("~/")">
            <img class="titleImage-2" src="@Href("~/Content/Images/Titleper.png")" />
            <img class="titleImage-1" src="@Href("~/Content/Images/College-List-2.png")" />
        </a>
    </div>
    <div id="content">
        <div id="topSeparator"></div>
        <div id="main">
            @RenderBody()
            <div class="btn btn-primary btn-lg scrollToTop"><span class="glyphicon glyphicon-arrow-up"></span></div>
            <div class="btn btn-primary btn-lg scrollToBottom"><span class="glyphicon glyphicon-arrow-down"></span></div>
        </div>
        <div>
            @RenderSection("SideBar",false)
        </div>
        <div id="bottomSeparator"></div>
    </div>
    <div id="footer">
        <small>&copy;2014 Babak Hosseini Nezhad. All rights reserved</small>
    </div>
</body>
</html>
