@using Blog.Models
@model IEnumerable<Post>


@{
    ViewBag.Title = "وبلاگ برنامه نویسی بابک";
    bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.isNextLinkVisible ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

<h1 style="color:#fff;">@ViewBag.pdate</h1>

@section SideBar
{
    @Html.Partial("_SideBar");
}

@foreach (Post post in Model)
{
    @PostHelper.Render(post, Html, isAdmin, false)
}
<ul class="pager">
    @if (isNextLinkVisible)
    {
        <li><a class="btn btn-primary" id="nextLink" href="@Href("~/Posts/Index/" + (ViewBag.PageNumber + 1 ))"><span class="glyphicon glyphicon-hand-right"></span> قدیمی تر ها</a></li>
    }

    @if(ViewBag.PageNumber != 0)
    {
        <li><a class="btn btn-primary" id="firstLink" href="@Href("~/Posts/Index/" + 0)"><span class="glyphicon glyphicon-home"></span></a></li>
    }

    @if (isPreviousLinkVisible)
    {
        <li><a class="btn btn-primary" id="previousLink" href="@Href("~/Posts/Index/" + (ViewBag.PageNumber - 1 ))">جدید تر ها <span class="glyphicon glyphicon-hand-left"></span></a></li>
    }
</ul>
