@model IEnumerable<Blog.Models.Post>
@using Blog.Models;
@using System.Globalization;
@{
    PersianCalendar pc = new PersianCalendar();
    PMonthString pdc = new PMonthString();
}

@{
    ViewBag.Title = "نتایج جستجو";
    bool isAdmin = ViewBag.IsAdmin ?? false;
}
<br />
<h3 style="color:#fff; text-align:right; font-family:DastNevis">نتایج جستجوی شما برای <span style="color:#D25A3F; padding:0 10px;">@ViewBag.sq</span>:</h3>
<br />
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th><span class="glyphicon glyphicon-pencil"></span> عنوان پست</th>
        <th><span class="glyphicon glyphicon-user"></span> نویسنده</th>
        <th><span class="glyphicon glyphicon-comment"></span> تعداد کامنت ها</th>
        <th><span class="glyphicon glyphicon-time"></span> تاریخ ایجاد</th>
        @if(isAdmin){
        <th>
            <span class="glyphicon glyphicon-time"></span> تاریخ اصلاح
        </th>
        }
        <th><span class="glyphicon glyphicon-tags"></span> تگ های مربوط به پست</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem=>item.ID)</td>
        <td>
            @Html.ActionLink(item.Title,"Details", new { id = item.ID })
        </td>
        <td>
            @item.Author
        </td>
        <td>
            @item.Comments.Count()
        </td>
        
        <td>
            @pc.GetYear(item.DateTime)/
            @pc.GetMonth(item.DateTime)/
            @pc.GetDayOfMonth(item.DateTime) - 
            @item.DateTime.ToString("HH:mm:ss")
        </td>
        @if(isAdmin){
        <td>
            @pc.GetYear(item.DateModified)/
            @pc.GetMonth(item.DateModified)/
            @pc.GetDayOfMonth(item.DateModified) - 
            @item.DateModified.ToString("HH:mm:ss")
        </td>
        }
        <td>
        @foreach(Tag tag in item.Tags)
            {
                <a href="@Href("~/Posts/Tags/" + tag.Name)">@tag.Name </a>  
            }
        </td>
        @if(isAdmin){
        <td>
            <a href="@Url.Content("~/Posts/EditPost/" + item.ID)"> <span class="glyphicon glyphicon-edit"></span> </a>
        </td>
        <td>
            <a href="@Url.Content("~/Posts/Delete/" + item.ID)"> <span class="glyphicon glyphicon-trash"></span> </a>
        </td>
        }
    </tr>
}

</table>
